.grid {
  display: flex;
}

@media only screen and (max-width: 950px) {
  .grid {
    flex-direction: column;
  }
}

@media only screen and (min-width: 951px) {
  .code-panel {
    max-width: 650px;
  }
}

.code-panel {
  flex-grow: 2;
  max-height: 100vh;
  overflow: auto;
}

.game {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#code > div {
  width: 100%;
}

#code > div > pre {
  min-height: 100vh;
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.ans-option {
  display: block;
  margin: 10px;
}

.loading-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-message {
  margin-top: 10px;
}

.heading {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-info {
  max-width: 500px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lan-chooser {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin-top: 30px !important;
}
