.grid {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .grid {
    flex-direction: column;
  }
}

.code-panel {
  flex-grow: 1;
  max-width: 650px;
  max-height: 100vh;
  overflow: auto;
}

.game {
  flex-grow: 1;
}

/*#code {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

#code > div {
  width: 100%;
}

#code > div > pre {
  min-height: 100vh;
  margin: 0;
}

.loading-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-message {
  margin-top: 10px;
}

.heading {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lan-chooser {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin-top: 30px !important;
}
